
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Taskpy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/static/favicon.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Taskpy</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <!--
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Navigation</li>
                    <li><a href="{{ url_for('jobs') }}">Jobs</a></li>
                    <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
                    <li><a href="{{ url_for('triggers') }}">Triggers</a></li>
                    <li><a href="#">Nodes</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">History</a></li>
                    {% block more %}{% endblock %}
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            {% block content %}{% endblock %}
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p><a href="http://code.google.com/p/taskpy/">
        http://code.google.com/p/taskpy/
    </a></p>
    </footer>

</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/jquery-1.8.3.min.js"></script>
<script src="/static/site.js"></script>
<script src="/static/bootstrap/js/bootstrap-transition.js"></script>
<script src="/static/bootstrap/bootstrap-alert.js"></script>
<script src="/static/bootstrap/js/bootstrap-modal.js"></script>
<script src="/static/bootstrap/bootstrap-dropdown.js"></script>
<script src="/static/bootstrap/bootstrap-scrollspy.js"></script>
<script src="/static/bootstrap/js/bootstrap-tab.js"></script>
<script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="/static/bootstrap/js/bootstrap-popover.js"></script>
<script src="/static/bootstrap/js/bootstrap-button.js"></script>
<script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
<script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>

</body>
</html>
