{% extends 'admin/model/edit.html' %}
{% block tail %}
{{ super() }}
<script src="//ace.ajax.org/build/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
	var editor = ace.edit("script");
	var editor_submit = document.getElementById("script_ace");
	editor.session.setUseWorker(false);
	editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/python");
	document.forms[0].onsubmit= function() {
		editor_submit.value = editor.getSession().getValue();
		return true;
	};
</script>
{% endblock %}