#sidebar ul {
	list-style-type: none;
	margin-left: 0;
}

#sidebar li {
	display: block;
}

footer {
	padding: 15px 0;
	background-color: #f5f5f5;
	border-top: 1px solid #e3e3e3;
}

fieldset .controls ul {
	list-style-type: none;
	margin-left: 0;
}